.EachCard{
    height:'auto';
    width:100% !important;
    padding-top:0.4rem;
    margin-bottom:0.7rem;
    padding-bottom:0.3rem;
    background-color:#D0DEF4;
    border-radius: 0.1rem;
}
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { 

}