.Mainbody{
    padding-top:1rem; 
    background-color:#EFF4FF; 
    width:100% !important;
}
.UpperRightProfileText{
    display: none;
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {
    .UpperRightProfileText{
        display: block;
    }

}


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { 

}